body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-signup-heading {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  position: relative;
}

.loginpage-email-field {
  margin-bottom: 2px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}
.loginpage-password-field {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer-github-link {
  color: white;
  text-decoration: none;
}

.jumbotron {
  /* padding: 2rem 1rem; */
  width: 100%;
  margin-bottom: 2rem;
  background-color: #cfcfcf;
  border-radius: .5rem;
}
.jumbotron-title{
  font-family: 'Source Sans Pro';
}

.feature-items{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .card-onhover{
  
} */

/* .card-onhover{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 3px 10px 10px 15px;
  cursor: pointer;
} */

.card-onhover:hover{
  transform: scale(1.05);
  /* box-shadow: 0 3px 8px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
}
.card-onhover{
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Montserrat;
  font-weight: bolder;
}

.timeselect-card-onhover:hover{
  transform: scale(1.05);
  /* box-shadow: 0 3px 8px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
}
.timeselect-card-onhover{
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Montserrat;
  font-weight: bolder;
}

.dashboard-card-text{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.dashboard-header{
  padding-top: 1rem;
  font-family: Nunito, Bold;
}

.dashboard-line{
  width: 80%;
  margin: auto;
}

.vendor-profile-details{
  /* margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;  */
  text-align: center;
  padding-top: 5%;
}

.key-vendor-profile-details{
  margin-right: 5%;
}

.vendor-profile-details{
  border: 2px solid green;
  border-radius: 5%;
  text-align: center;
  background-color: #212529;
  color: white;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 5%;
}

.user-profile-details{
  border: 2px solid green;
  border-radius: 5%;
  text-align: center;
  background-color: #212529;
  color: white;
  width: 40%;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 5%;
}
.profile-table{
  font-family: 'Montserrat';
  text-align: center; 
  margin: auto; 
  table-layout: fixed;
  width: 500px;
  height: 200px;
  width: 70%;
}

.submit-reschedule-button{
  margin-right: 2%;
}

.booking-font{
  font-family: Montserrat;
  color: black;
  font-weight: 900;
}

.booking-header{
  font-family: Nunito, Bold;
  font-size: 1.25rem;
}

.header-position{
  position: fixed;
}